[submodule "plugins/ipynb"]
	path = plugins/ipynb
	url = git://github.com/danielfrg/pelican-ipynb.git
[submodule "pelican-hyde"]
	path = pelican-hyde
	url = git@github.com:dankolbman/pelican-hyde.git
